<h1>Sai Pranathi Polisetti</h1>
<h1>1001728199</h1>
<br>



<!--a href="list_pics">list_pics</a><br>
<a href="search_name">Search_by_name</a><br>
<a href="search_room_number">Search_by_room</a><br>
<a href="update_keyword">Update Keyword</a><br>
<a href="update_points">Update Points</a><br>
<a href="update_range">update_range</a><br-->
<a href="list_pics_img">list_pics_img</a><br>
<a href="add">add</a><br>
<a href="display_details_state">display_details_state</a><br>
<a href="update_details_given_name">update_details_given_name</a><br>


<!--a href="search_pic_name">search_pic_name</a><br>
<a href="search_by_id">search_by_id</a><br>
<a href="update_caption">update_caption</a><br-->.

<!--a href="display_room">Display details given a room number</a><br>
<a href="display_details_point_room">Display details given room number and grade range</a><br>
<a href="modify_name_room_number">Modify name given room number</a><br>
<br-->